@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Nunito:wght@600;700;800&family=Outfit:wght@400;700&display=swap");

:root {
  --primary-color: #1f3251;
  --background-color: #d6e2f0;
  --text-color: #7b879d;
}

/* Réinitialisation des marges par défaut, des rembourrages et du modèle de boîte */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Styles du corps */
body {
  margin: 0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  font-weight: 400px;
  background-color: var(--background-color);
}

img {
  width: auto;
  height: 280px;
  border-radius: 15px;
}

h1 {
  font-size: 22px;
  font-weight: 700px;
  color: var(--primary-color);
}

p {
  color: var(--text-color);
}
span {
  /* add line under text */
  text-decoration: underline;
}
.attribution {
  font-size: 11px;
  text-align: center;
  font-weight: 400px;
  color: var(--primary-color);
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.qr-component {
  border-radius: 20px;
  width: 315px;
  height: 484px;
  background-color: #fff;
  margin-bottom: 24px;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.23);
}

.component {
  padding-top: 20px;
}

.row {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 9px;
  margin-right: 12px;
  margin-left: 12px;
  text-align: center;
}

.bd-text {
  margin-top: 19px;
  margin-right: 25px;
  margin-left: 25px;
  text-align: center;
}
